<%= form_with model: @secret, local: true do |f| %>
  <% if @secret.errors.any? %>
    <h3> <%= pluralize(@secret.errors.count, 'error') %> must be fixed </h3>
    <ul>
      <% @secret.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Enter a secret title", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, placeholder: "What's your secret?", class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
