<% unless signed_in? %>
  <div class="alert alert-success" role="alert">
    Sign up or login with 'Jimmy@example.com' and 'password'
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="row mb-4">
  <div class="col">
    <h1>Secrets</h1>
  </div>
  <div class="col">
    <%= link_to 'New Secret', new_secret_path, class: "btn btn-primary float-right" if signed_in? %>
  </div>
</div>

<div class="row">
  <% @secrets.each do |secret| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= secret.title.titleize %></h4>
          <p class="card-text text-muted"><%= secret.body.truncate(100) %></p>
          <%= link_to 'Read Secret', secret_path(secret), class: "btn btn-primary" %>
        </div>

        <div class="card-footer text-muted">
          Shared by
          <% if signed_in? %>
            <%= secret.member.name %>
          <% else %>
            <i class="fas fa-lock"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
