<div class="row">
  <div class="col">
    <h1> <%= @secret.title.titleize %> </h1>
  </div>

  <% if current_member == @secret.member %>
  <div class="col text-right">
    <%= link_to 'Edit', edit_secret_path, class: "btn btn-outline-secondary" %>
    <%= link_to 'Delete', secret_path, method: :delete, class: "btn btn-outline-secondary",
                                        data: { confirm: "Delete your super secret?" } %>
  </div>
  <% end %>
</div>
<p class="text-muted">Shared by
  <% if signed_in? %>
    <%= @secret.member.name %> 
  <% else %>
    <i class="fas fa-lock"></i>
  <% end %>

<p class="text-muted"> <%= @secret.body %> </p>
