<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to 'Private Members', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Secrets', secrets_path, class: "nav-link" %>
        </li>
      </ul>
      <span class="navbar-nav">
        <% if member_signed_in? %>
          <%= link_to "Account", edit_member_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Logout", destroy_member_session_path, method: :delete, class: "nav-item nav-link" %>
        <% else %>
          <%= link_to "Sign Up", new_member_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Login", new_member_session_path, class: "nav-item nav-link" %>
        <% end %>
      </span>
    </div>
  </div>
</nav>
